.flashcontainer {
    border: solid #5aa069;
    height: 500px;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 2rem;
    position:relative;
 

}
.flashCardPopup {
  position:absolute;
  top:20px;
  left:20px;
  display:none;

}

.topbutton {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.questionindex {
    margin-top: 20px;
}

.flashcard {
    border: solid #5aa069;
    margin: auto;
    margin-top: 30px;
    height: 200px;
    width: 350px;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    transition: 0.5s;
    transform: rotateY(0deg);
    perspective: 1000px;
}
.flashcard:hover {
    border: solid #e61a1a;
    transform: rotateY(180deg);
}
.question{
    margin:40px;
}
.flashbutton{
   
    margin:30px
}

.card{
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
    flex-direction: column;
    border-radius: .25rem;
    box-shadow:0 0 5px 2px rgba(0,0,0, .3);
    background-color: white;
    height: 300px;
    width: 300px;
    margin:auto;
    margin-top: 10px;
    transform:rotateY(180deg);

}
.card .front,
.card .back {
    position:absolute;
    padding:1rem;
    backface-visibility: hidden;
}

.card.back{
    transform: rotateY(180deg);
}
.flipbtn{
    margin:100px;
    
}
.flashbutton{
    border:transparent;
}